 {% extends 'themes/base_visitor.html.twig' %}

 {% block title %}Liste des articles{% endblock %}

 {% block description %}Consultez la liste de mes articles très pertinents sur le bien-être, la santé{% endblock %}

 {% block keywords %}Blog, Liste, articles, Médecine, Jean Dupont{% endblock %}

 {% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>
 {% endblock %}